
<div id="searchbar" style="display: flex;">
    <form action="/" method="GET">
        <input type="text" name="search" placeholder="Search posts..." style="width: 250px;">
        <button type="submit">Search</button>
    </form>
    <a href="/" style="margin-left: 5px;"><button type="submit">Show All</button></a>
</div>