<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>P-Blog - Delete Post</title>
    <link rel="stylesheet" href="/new.css">
</head>
<body>
    <h1>Edit Post</h1>
    <div id="container">
        <form method="post" action="/posts/<%= post.id %>?_method=DELETE">
                <div id="showPost">
                    <h1>Do you really want to delete the below post?</h1>
                    <h3><%= post.title %></h3>
                    <p><%= post.desc %></p>
                    <p><i>Last Updated: <%= post.date %></i></p>
                </div>
            <button id="deleteBtn">Delete</button>
        </form>
        <a href="/"><button id="cancelDelBtn" class="cancel">Cancel</button></a>
    </div>
</body>
</html>