<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>P-Blog - New Post</title>
    <link rel="stylesheet" href="/new.css">
</head>
<body>
    <h1>Create Your Post Here:</h1>
    <div id="container">
        <form method="post" action="/">
            <label for="title">Enter Title</label>
            <input type="text" name="title" id="title" required>
            <label for="desc">Enter Description</label>
            <textarea id="desc" name="desc" cols="50" rows="10" required></textarea>

            <button id="submitBtn">Submit</button>
        </form>
        <a href="/"><button id="cancelBtn" class="cancel">Cancel</button></a>
    </div>
</body>
</html>