<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>P-Blog Post#</title>
    <link rel="stylesheet" href="/show.css">
</head>
<body>
    <div id="container">
        <h1><%= post.title %></h1>
        <p><%= post.desc %></p>
    </div>
    <div id="buttons">
        <a href="/"><button>Back to Posts</button></a>
    </div>
</body>
</html>